<!DOCTYPE html>
<html lang="en">


<body>
    <div data-toggle="collapse" data-parent="#accordion" href="">
        <ul id="tabs" class="nav nav-pills" data-collapse-toggle="collapseOne" data-tabs="tabs">
            <li class="active">
                <a href="#listTab" data-toggle="tab">
                    <small><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span></small>
                </a>
            </li>
            <li>
                <a href="#iconsTab" data-toggle="tab">
                    <small><span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span></small>
                </a>
            </li>
        </ul>
    </div>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="listTab">
            <h1>Orange</h1>
            <p>
                Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
                Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.
            </p>
        </div>
        <div class="tab-pane" id="iconsTab">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
    </div>


</body>
</html>