@model CoreCooking.Website.ViewModels.Home.HomeViewModel
@using CoreCooking.Website.Helpers

@{
    ViewData["Title"] = "Home Page";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
</ol>

@if (User.Identity.IsAuthenticated)
{
    <div class="card">
        <div class="card-header">
            <span>@(Model.RecipeCount) Recipes Total</span>            

            <a asp-controller="Recipes" asp-action="Add" class="btn btn-sm btn-wide btn-outline-primary float-right">Add Recipe</a>
        </div>
    </div>
    <p></p>
}

<div class="list-group">
    @foreach (var item in Model.Hashtags)
    {
        <a class="list-group-item" href="@UrlBuilder.GetUrl(item)">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    }
</div>
