@model CoreCooking.Website.ViewModels.Home.HomeViewModel
@using CoreCooking.Website.Helpers

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <p class="lead">There are @(Model.RecipeCount) recipes</p>

        <a asp-controller="Recipes" asp-action="Add" class="btn btn-primary">Add Recipe</a>
    </div>
}

<div class="list-group mt-2">
    @foreach (var item in Model.Hashtags)
    {
        <a class="list-group-item" href="@UrlBuilder.GetUrl(item)">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    }
</div>
